---
layout: default
title: Yunpeng Ding | CV
picture: me
---
<div class="page-header">
  <h3>Yunpeng Ding</h3>
</div>

<!-- Hotjar Tracking Code for https://dingln.github.io/cv.html -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:830946,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

My CV can be downloaded <a href ="https://drive.google.com/open?id=1eqebRhJmft4ByGx18htQ8QH9Y8ZY66j2" >here </a>.

<!-- {% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %} -->


