---
layout: default
title: Yunpeng Ding
picture: me
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12"x>
      <h3>Yunpeng Ding</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <!-- <a href="https://en.wikipedia.org/wiki/Reader_(academic_rank)">Reader</a><br/> -->
        <!-- <a>Computer Science</a><br/> -->
        <!-- <a href="http://https://www.nju.edu.cn/EN/7f/6b/c7136a163691/page.htm">Department of Computer Science and Technology</a><br/> -->
        UCLA <br> Los Angeles, CA, 90024<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a><span class="glyphicon glyphicon-envelope"></span></a> dyp1225@ucla.edu<br/>
      <a href="https://www.linkedin.com/in/yunpeng-ding-147745161"><span class="glyphicon glyphicon-user"></span></a> LinkedIn: Yunpeng Ding<br/>
      <!-- <a href="tel:+44-1316504430"><span class="glyphicon glyphicon-phone"></span>+44 131 650 4430</a><br/> -->
      <!-- <a href="http://scholar.google.com/citations?user=u4sxKZwAAAAJ"> -->
        <!-- <img src="img/ico/gs.png" alt=""/> -->
      <!-- </a> Google Scholar<br/> -->
      <a href="http://github.com/dingln">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github: dingln
    </div>
  </div>
</div>

<!-- Hotjar Tracking Code for https://dingln.github.io/index.html -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:828432,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

Welcome!<br>
I am currently a 1st year graduate student at UCLA, majoring in M.S. of Electrical & Computer Engineering.

<h4>Education Background</h4>
09/2019 - 03/2021 Exp <br>
<b>University of California, Los Angeles</b> <br>
<i>M.S. in Electrical & Computer Engineering, Department of Electrical & Computer Engineering, </i><br>

<br>

09/2014 - 06/2019 <br>
<b>Nanjing University</b> <br>
<i>B.S. in Computer Science, Department of Computer Science and Technology</i><br>

<br>

<h4>News</h4>
&bull; Ritam Sarmah, <b>Yunpeng Ding</b>, Di Wang, Cheuk Yin Phipson Lee, Toby Jia-Jun Li, Xiang ‘Anthony’ Chen.
<i>Geno: A Developer Tool for Authoring Multimodal Interaction on Existing Web Applications.</i> Proc. ACM
UIST 2020. Acceptance Rate: 21%. <br>

<br>

<h4>Professional Experience</h4>
06/2020 - Present<br>
<B>Salesforce.com, Inc </B> <br>
Software Engineer Intern <br>
Working on Search indexing <br>

<h4>Research Experience</h4>
12/2018 - 01/2019, 09/2019 - 05/2020<br>
<B>UCLA HCI Research</B> <br>
Geno: A Developer Tool for Authoring Multimodal Interaction on Existing Web Applications <br>
Advisor: Prof. Xiang Chen<br>


<br>
03/2019 - 05/2019<br>
<B>NJU Distributed Computing Lab</B> <br>
Analyzing Mobile User Profile Based on Web Clickstreams <br>
Advisor: Prof. Wenzhong Li
<br>

<br>
07/2018 - 10/2018<br>
<B>The Chinese University of Hong Kong, Department of Computer Science and Engineering</B> <br>
DNN Design Space Exploration |<br>
Advisor: Prof. Bei Yu<br>

<br>
01/2018 - 05/2018<br>
<B>NJU Graphics Lab</B> <br>
3D Indoor Scene Understanding<br>
Advisor: Prof. Yanwen Guo<br>


<br>


<h4>Publications</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}

<!-- <h4>Presentation</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html talk=post %}
  {% endif %}
{% endfor %} -->

<!-- <h4>Presentation</h4>
09/2018, The Chinese University of Hong Kong <br>
<B><a href="https://drive.google.com/file/d/1l9iB0CkQNtJetBLgPKBP7kjPi5pEW2Wk/view?usp=sharing">Speeding up Hyper-parameter Optimization by Extrapolation of Learning Curves</a><br/></B> -->


